<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Plaax-26-Ney-Light-205TF.ttf</string>
		<string>Plaax-36-Ney-Regular-205TF.ttf</string>
		<string>Plaax-46-Ney-Bold-205TF.ttf</string>
	</array>
</dict>
</plist>
